<template>
<div class="square-index index-spacing animated fadeIn flex">
  <div class="left-cell">
    <carousel-cell :list="config.carouselList" class="mb30"></carousel-cell>
    <picture-cell :picture="pictureConfig.picture1" ></picture-cell>
    <video-cell :video="videoConfig.video1"></video-cell>
    <video-cell :video="videoConfig.video2"></video-cell>
  </div>
  <div class="right-cell">
    <word-cell></word-cell>
    <joke-cell class="mt30"></joke-cell>
  </div>
</div>
</template>

<script>
import WordCell from "@/pages/square/components/wordCell";
import CarouselCell from "@/pages/square/components/carouselCell";
import PictureCell from "@/pages/square/components/pictureCell";
import VideoCell from "@/pages/square/components/videoCell";
import JokeCell from "@/pages/square/components/jokeCell";

import config from "@/pages/square/js/config";
import videoConfig from "@/pages/square/js/videoConfig";
import pictureConfig from "@/pages/square/js/pictureConfig";

export default {
  name: "index",
  components: {JokeCell, PictureCell, CarouselCell, WordCell,VideoCell},
  data(){
    return{
      config,
      videoConfig,
      pictureConfig
    }
  }
}
</script>

<style scoped lang="scss">
.square-index{

  padding-top: 30px;
  padding-bottom: 60px;

  .left-cell{
    flex: 7;
    margin-right: 30px;
    @media (max-width: 400px) {
      flex: 1;
      margin-right: 0;
    }
    @media (max-width: 900px) {
      flex: 1;
      margin-right: 0;
    }
  }
  .right-cell{
    flex: 3;
    @media (max-width: 400px) {
      display: none;
    }
    @media (max-width: 900px) {
      display: none;
    }
  }
}
</style>