@import url(./color.scss);
@import "common";
.flex{
  display: flex;
}
.justify-between{
  justify-content: space-between;
}
.justify-center{
  justify-content: center;
}
.text-center{
  text-align: center;
}
.text-right{
  text-align: right;
}
.text-justify{
  text-align: justify;
}
.text-2em{
  text-indent:2em;
}
.align-center{
  align-items: center;
}
.bold{
  font-weight: bold;
}
.font12{
  font-size: 12px;
}
.font14{
  font-size: 14px;
}
.font16{
  font-size: 16px;
}
.font18{
  font-size: 18px;
}

.padding-index{
  padding: 15px;
}
.padding-top{
  padding-top: 15px;
}
.padding-right{
  padding-right: 15px;
}

.bg-checkerboard{
  background-image: linear-gradient(45deg, #000 25%, transparent 0, transparent 75%, #000 0), linear-gradient(45deg, #000 25%, transparent 0, transparent 75%, #000 0); background-position: 0 0, 50px 50px; background-size: 100px 100px;
  overflow: hidden;
}
.index-spacing{
  padding: 0 10%;
}
.rotate1{
  animation: rotate360 1s linear infinite;
}
@keyframes rotate360 {
  0%{-webkit-transform:rotate(0deg);}
  25%{-webkit-transform:rotate(90deg);}
  50%{-webkit-transform:rotate(180deg);}
  75%{-webkit-transform:rotate(270deg);}
  100%{-webkit-transform:rotate(360deg);}
}