.pt10{
  padding-top: 10px;
}
.pt15{
  padding-top: 15px;
}
.pt20{
  padding-top: 20px;
}
.pr15{
  padding-right: 15px;
}
.pb15{
  padding-bottom: 15px;
}
.pb20{
  padding-bottom: 20px;
}
.pl15{
  padding-left: 15px;
}
.pl10{
  padding-left: 10px;
}
.pl5{
  padding-left: 5px;
}
.pl3{
  padding-left: 3px;
}
.lh20{
  line-height: 20px;
}
.lh24{
  line-height: 24px;
}
.lh28{
  line-height: 28px;
}
.mt20{
  margin-top: 20px;
}
.mt30{
  margin-top: 30px;
}
.mb30{
  margin-bottom: 30px;
}