<template>
<div class="interview-index">
  <a-layout has-sider theme="light">
    <a-layout-sider
        :style="{ overflow: 'auto', height: '100vh', position: 'fixed', left: 0, top: 0, bottom: 0, background: '#fff', }"
    >
      <div class="logo">LUFFA</div>
      <a-menu  theme="light" mode="inline" @click="handleClick">
        <a-menu-item key="/subject">
          <user-outlined />
          <span class="nav-text">收集的面试题</span>
        </a-menu-item>
        <a-menu-item key="2">
          <video-camera-outlined />
          <span class="nav-text">nav 2</span>
        </a-menu-item>
        <a-menu-item key="3">
          <upload-outlined />
          <span class="nav-text">nav 3</span>
        </a-menu-item>
        <a-menu-item key="4">
          <bar-chart-outlined />
          <span class="nav-text">nav 4</span>
        </a-menu-item>
        <a-menu-item key="5">
          <cloud-outlined />
          <span class="nav-text">nav 5</span>
        </a-menu-item>
        <a-menu-item key="6">
          <appstore-outlined />
          <span class="nav-text">nav 6</span>
        </a-menu-item>
        <a-menu-item key="7">
          <team-outlined />
          <span class="nav-text">nav 7</span>
        </a-menu-item>
        <a-menu-item key="8">
          <shop-outlined />
          <span class="nav-text">nav 8</span>
        </a-menu-item>
      </a-menu>
    </a-layout-sider>
    <a-layout :style="{ marginLeft: '200px' }">
      <a-layout-header :style="{ background: '#fff', padding: 0 }" />
      <a-layout-content :style="{ margin: '24px 16px 0', overflow: 'initial' }">
        <router-view/>
      </a-layout-content>
      <a-layout-footer :style="{ textAlign: 'center' }">
        Ant Design ©2018 Created by Ant UED
      </a-layout-footer>
    </a-layout>
  </a-layout>
</div>
</template>

<script>

import {
  UserOutlined,
  VideoCameraOutlined,
  UploadOutlined,
  BarChartOutlined,
  CloudOutlined,
  AppstoreOutlined,
  TeamOutlined,
  ShopOutlined,
} from '@ant-design/icons-vue';
import { Layout,Menu } from 'ant-design-vue';
const layoutSider = Layout.Sider;
const layoutHeader = Layout.Header;
const layoutContent = Layout.Content;
const layoutFooter = Layout.Footer;
const menuItem = Menu.Item;

export default {
  components:{
    // 组件
    ALayout: Layout,
    AMenu: Menu,
    ALayoutSider: layoutSider,
    ALayoutHeader: layoutHeader,
    ALayoutContent: layoutContent,
    ALayoutFooter: layoutFooter,
    AMenuItem: menuItem,
    // icon
    UserOutlined,
    VideoCameraOutlined,
    UploadOutlined,
    BarChartOutlined,
    CloudOutlined,
    AppstoreOutlined,
    TeamOutlined,
    ShopOutlined,
  },
  name: "index",
  data(){
    return{
      activeName: '',
      selectedKeys: '1',
    }
  },
  methods:{
    handleClick({ item, key, keyPath }){
      console.log(item)
      console.log(key)
      console.log(keyPath)
      this.$router.push('/interview'+ key)

    },
    clickItem(){

    }
  }
}
</script>

<style scoped lang="scss">
.interview-index{
  background-color: #FFFFFF;
  .logo{
    color: black;
    font-size: 28px;
    text-align: center;
    height: 64px;
    line-height: 64px;
  }

}
</style>