<template>
<div>
  <tab-com :list="list" :active="active" @changeT="changeT"></tab-com>
  <component
      :is="active === 'tab1'
            ? 'T01'
            : active === 'tab2'
            ? 'T02':''
        "></component>
</div>
</template>

<script>

import T01 from "./demo2";
import T02 from "./demo3";

export default {
  name: "demo1",
  components:{
    T01,
    T02,
  },
  data(){
    return{
      list: [
        {name:"tab1",value: "tab1"},
        {name:"tab2",value: "tab2"},
        {name:"tab3",value: "tab3"},
        {name:"tab4",value: "tab4"},
        {name:"tab5",value: "tab5"},
      ],
      active: "tab1"
    }
  },
  methods:{
    changeT(val){
      console.log(val)
      this.active = val
    }
  }
}
</script>

<style scoped>

</style>