<template>
<div class="css-index">
  <Content></Content>
</div>
</template>

<script>
import Content from '../../by/common/Content'
export default {
  name: "index",
  components:{
    Content
  }
}
</script>

<style scoped lang="scss">
.css-index{

}
</style>