<template>
<div class="demo-index index-spacing">

  <el-row>
    <el-col class="cell" :xs="24" :sm="12" :md="8" :lg="6" :xl="4"
            v-for="(item,index) in list" :key="index"
    >
      <el-card shadow="hover" :body-style="{ padding: '0px' }" @click.native="toPage(item)">
        <img :src="item.imgUrl" class="image">
        <div class="card-title">{{item.name}}</div>
        <div class="card-content">{{item.content}}</div>
      </el-card>
    </el-col>
  </el-row>

</div>
</template>

<script>
import config from "./Config";
export default {
  name: "index",
  data(){
    return{
      list: config
    }
  },
  methods:{
    toPage(item){
      this.$router.push(item.path)
    }
  }
}
</script>

<style scoped lang="scss">
.demo-index {

  padding-bottom: 30px;
  .image{
    width: 100%;
    height: 200px;
    object-fit: cover;
  }
  .cell{
    padding: 40px 15px 15px 15px;
    .card-title{
      padding: 15px 0 0 15px;
    }
    .card-content{
      font-size: 12px;
      color: gray;
      padding: 15px 0 15px 15px;
    }
  }
}
</style>