<!DOCTYPE html>
<html lang="">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
<!--    <meta name="viewport" content="width=device-width,initial-scale=1.0">-->
      <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport" />
      <link rel="icon" href="./static/cat.png">
      <title>luffa</title>
  </head>
  <body>
    <noscript>
      <strong>We're sorry but <%= htmlWebpackPlugin.options.title %> doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app" style="background-color: #FFFFFF;width: 100%;height: 100%;">
        <div style="width: 90vw;height: 98vh;margin:0 auto;
   background: url('https://yctank.liyarou.com/f/jay/20210609/af72d6897291ea04cc78f1cdf4de25aa/Curve-Loading.gif') 50% 50% no-repeat">
        </div>
    </div>
<!--    <div id="app"></div>-->
    <!-- built files will be auto injected -->
  </body>
</html>
