<template>
  <div class="resume-index index-spacing">
    <div class="text-center  top-cell">
      <el-avatar fit="fill" clss="avatar-img "
                 :src="require('../../../src/assets/img/WechatIMG11.jpeg')"></el-avatar>
    </div>
    <div class="text-center font18 bold padding-top">陈思依</div>
    <div class="msg padding-top">
      <resume-msg></resume-msg>
    </div>
    <resume-content></resume-content>

  </div>
</template>

<script>
import ResumeContent from "@/pages/resume/resumeContent";
import ResumeMsg from "@/pages/resume/resumeMsg";
export default {
  name: "index",
  components: {ResumeMsg, ResumeContent}
}
</script>

<style scoped lang="scss">
.resume-index{

  padding-bottom: 30px;
  .msg{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .top-cell{
    padding-top: 30px;
  }
}
</style>