<template>
<div class="resume-msg">
  <div class="top ">
    <div class="cell text-center"><i class="el-icon-phone-outline icon"></i>13207351533</div>
    <div class="flex cell justify-center" >
      <img width="20" height="20" src="../../assets/svg/gitLab.svg" class="icon" />
      <div>https://gitlab.com/luffa</div>
    </div>
    <div class="flex cell justify-center" >
      <img width="20" height="20" src="../../assets/svg/email.svg" class="icon" />
      <div>snowflyingLUFFA@163.com</div>
    </div>
  </div>
</div>
</template>

<script>
export default {
  name: "resumeMsg"
}
</script>

<style scoped lang="scss">
.resume-msg{
  .icon{
    padding-right: 12px;
  }
  .top{
    .cell{
      padding: 3px 0;
    }
  }
}
</style>