<template>
<div class="resume-content-view">

  <h2 class="text-center">个人介绍</h2>
  <p class="text-justify">1、本人具有四年的前端开发经验。熟悉使用主流开源框架VUE 、Bootstrap、Element-ui、javascript;熟悉
    WebStorm、Git、Postman、微信开发者工具等开发辅助工具;</p>
  <p class="text-justify">2、开发过零号湾、易审方、科威小程序、星桥腾飞、律师达达、国家医疗保障智能监管系统等多个项目;具有良好的开发意识和沟通能力;</p>
  <p class="text-justify">
    3、开发项目中研究过阿里云im、腾讯im、Echarts图像统计、<text-jump-com title="高德地图" path="demo/d01" />、<text-jump-com title="QRcode二维码" path="demo/d02" />、阿里云OSS+百度鉴黄、图片裁剪等开放平台并且使用;
  </p>
  <p class="text-justify">4、熟练使用Element-UI组件库搭建前端页面，及Echarts等开源组件展示数据。</p>
  <h2 class="text-center">工作经历</h2>
  <p>公司名称：上海金仕达卫宁软件科技有限公司</p>
  <p>在职时间：2021/09~2022/09</p>
  <p>职位名称：中级软件工程师</p>
  <p>公司名称：上海已承信息科技有限公司</p>
  <p>在职时间：2018/01~2021/09</p>
  <p>职位名称：前端开发工程师</p>
  <h2 class="text-center">项目经验</h2>
  <p class="flex justify-between align-center">
  <span class="font18 bold">国家医疗保障智能监管系统</span><span class="font12">2021/09 ~2022/09</span>
  </p>
  <h4>项目背景:</h4>
  <p class="text-justify text-2em">在基本医保领域，卫宁科技针对医保管理推出多种一体化解决方案，包括医保智能监控解 决方案、医保基金运行与审计解决方案以及宏观决策大数据分析解决方案等，并提供持续的专业服 务，帮助客户实现全流程、全环节、全方位的医保管理。在商业健康险领域，卫宁科技支持商业健康 险智能核保与风险防范、智能核赔与反欺诈、人群画像与风险模型、城市定制型商业健康险、保险产 品精算、产品营销推广、长护险照护管家等服务。</p>
  <h4>项目职责:</h4>
  <ol>
        <li class="text-justify">开发重庆医保实验室数据大屏、大数据反欺诈数据大屏、菜单引导主屏、大数据指标分析/综合性
          数据监管相关功能;</li>
        <li class="text-justify">开发四川信用评价系统稽核管理-转出案件跟踪、稽核审批、稽核内审、外伤审核、被稽核对象处 理、法院受理反馈、文书模板库、法规库、稽核人员管理等相关模块
        </li>
        <li class="text-justify">开发国家局行政执法强制执行结果反馈、公示信息管理、案件综合查询、案件文书查询、文书模 板管理、行政执法条款管理相关功能
        </li>
      </ol>
  <p class="flex justify-between align-center">
    <span class="font18 bold">零号湾园区管理平台</span><span class="font12">2018/01 ~2021/09</span>
  </p>
  <p><span class="font16 bold">官网地址：</span><span>https://neobay.cn/</span></p>
  <h4>项目背景:</h4>
  <p class="text-justify text-2em">零号湾全球创新创业集聚区是由闵行区人民政府、上海交通大学、上海地产集团三方共 建，孵化器以打造上海南部科创中心为己任，通过上海交通大学的人才科技资源，上海地产集团的产 业服务、资本配置，闵行区人民政府的环境打造政策协调，打造创新创业全产业链的孵化服务。</p>
  <h4>项目职责:</h4>
  <ol>
    <li>开发零号湾云平台，选择不同园区地点，管理不同的园区;</li>
    <li class="text-justify">开发后台投融资管理模块、财务管理模块中的能耗付款信息单、人才公寓付款信息单、辅助记录、 人才公寓合同、付款信息单等相关功能;</li>
    <li class="text-justify">开发智慧空间模块中的零号湾大数据中心;直观图像统计能耗中心数据，门禁数据、环境数据、自有
      企业、项目、孵化协议、租赁协议数目统级计数据;</li>
  </ol>
  <p class="align-center font18 bold">
    裕廊腾飞管理平台 + 奕桥-Park APP
  </p>
  <p class="font12">2018/10 ~ 2019/06</p>
  <h4>官网地址:</h4>
  <p class="text-justify text-2em">https://www.capitaland.com.cn/about-capitaland/who-we-are.html</p>
  <h4>项目背景:</h4>
  <p class="text-justify text-2em">腾飞集团是亚洲领先的商务空间方案提供者, 地点位于中国上海腾飞大厦和苏州工业园。 凯德集团是亚洲知名的大型多元化房地产集团，总部设在新加坡，并在新加坡上市。凯德集团的投资 组合横跨多元房地产类别，包括办公楼、购物中心、产业园区、工业及物流地产、商业综合体、城镇 开发、服务公寓、酒店、长租公寓及住宅。</p>
  <h4>项目职责:</h4>
  <ol>
    <li class="text-justify">开发后台汇总统计、图表分析、朋友圈、一起玩、新鲜事、搜索、预约参观、后台启动页、问卷系 统、活动报名、邀请访客、分享、楼栋管理、房间管理、工位管理、付款信息单、会议室付款信息单、 对冲单、系统设置、角色管理、权限管理、登录、云平台等功能模块;</li>
    <li class="text-justify">开发webapp中的一起玩、活动报名、邀请访客、用户手册页面和软件许可及服务协议页面、我的邀 请、预约参观、空间预定推送、预约参观推送、常见问题、关与奕桥等页面;</li>
    <li class="text-justify">给评论、发布朋友圈加上文本审核、朋友圈图片审核;</li>
  </ol>
  <p class="align-center font18 bold">
    上海科威国际技术转移中心小程序
  </p>
  <p class="font12">2019/08 ~2019/11</p>
  <p><span class="font16 bold">官网地址：</span><span>http://www.co-way.com.cn/</span></p>
  <h4>项目背景:</h4>
  <p class="text-justify text-2em">上海科威国际技术转移中心有限公司是一家由上海市科技创业中心、上海高新技术投资管理 有限公司和科威国际技术转移有限公司共同投资组建的国际性技术转移咨询服务机构。</p>
  <h4>项目职责:</h4>
  <ol>
    <li class="text-justify">原生开发微信小程序;开发科威后台;</li>
    <li class="text-justify">开发小程序用户个人资料页面、项目列表(需求和供给)、活动列表、活动报名、项目留言、图片审 核、修改用户个人资料等功能页面;</li>
    <li class="text-justify">后台登录、轮播图、用户列表、项目、项目标签、活动、等功能模块;调整整体框架样式;</li>
  </ol>

  <h2 class="text-center">教育经历</h2>
  <h3 class="text-center">长沙理工大学 本科</h3>
  <h2 class="text-center">其他</h2>
  <ul>
    <li>具有良好的沟通能力、独立解决技术难题的能力，并且能考虑到技术风险。</li>
    <li>喜欢读书、打游戏(天涯明月刀手游+王者荣耀+听歌、看视频、微博冲浪。</li>
  </ul>



</div>
</template>

<script>
export default {
  name: "resumeContent",
  mounted() {
    console.log(window.location.protocol)
  }
}
</script>

<style scoped lang="scss">
.resume-content-view{
  .icon{
    padding-right: 12px;
  }
  .top{
    padding-top: 40px;
  }
}
</style>