<template>
  <div class="index-app-view">
    <div class="top">
      <div class="menu-box">
        <el-dropdown trigger="click">
          <span class="title"><i class="el-icon-s-operation"></i></span>
          <el-dropdown-menu slot="dropdown">
            <el-dropdown-item>一些组件demo</el-dropdown-item>
          </el-dropdown-menu>
        </el-dropdown>
      </div>
    </div>
    <div class="top-box">
      <el-carousel height="300px" direction="vertical" :autoplay="true">
        <el-carousel-item v-for="(item,index) in imgList" :key="index">
          <el-image :src="item.url" class="image" fit="cover" ></el-image>
        </el-carousel-item>
      </el-carousel>
      <div class="avatar-box">
        <div class="title"><h3>陈思依</h3></div>
        <el-avatar shape="square"  fit="fill" clss="avatar-img"
                   :src="require('../../../src/assets/img/WechatIMG11.jpeg')"></el-avatar>
      </div>
    </div>
    <div class="content">
      <resumeMsg></resumeMsg>
      <resume-content></resume-content>
    </div>
    <el-backtop target=".index-app-view" :bottom="100">
      <i class="el-icon-caret-top black"></i>
    </el-backtop>

  </div>
</template>

<script>
import ResumeContent from "@/pages/resume/resumeContent";
import resumeMsg from "@/pages/resume/resumeMsg";
export default {
  name: "index-app",
  components: {ResumeContent,resumeMsg},
  data(){
    return {
      imgList: [
        {url:require('../../../src/assets/img/WechatIMG6.jpeg')},
        {url:require('../../../src/assets/img/WechatIMG7.jpeg')},
        {url:require('../../../src/assets/img/WechatIMG8.jpeg')},
        {url:require('../../../src/assets/img/WechatIMG9.jpeg')},
      ]
    }
  },
  methods:{
    toPage(){
        console.log("ssss")
    }
  }

}
</script>

<style scoped lang="scss">
.index-app-view {
  height: 100vh;
  overflow-x: hidden;
  .top{
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    right: 0;

    background-color: black;
    .title{
      font-size: 30px;
      color: white;
      right: 0;
    }
    .menu-box{
      display: flex;
      justify-content: end;
      padding-right: 10px;
    }
  }
  .top-box{
    padding-top: 41px;
    position: relative;
    .image{
      width: 100%;
      height: 100%;
    }

    .avatar-box{
      position: absolute;
      display: flex;
      right: 15px;
      top: 310px;
      z-index: 99;
      .title{
        padding: 20px 20px 0 0;
      }
      .el-avatar{
        width: 80px;
        height: 80px;
      }
    }
  }
  .content{
    padding: 40px 15px 15px 15px;
  }
}
</style>