<template>
<div class="index-web-view " >



</div>
</template>

<script>


export default {
  name: "index-web",
  components: {
  },
  data(){
    return {
    }
  },
  methods:{

  }
}
</script>

<style scoped lang="scss">
.index-web-view {
  width: 100%;

  .top-box{
    height: 80px;
    background-color: #FFFFFF;
    text-align: center;
    line-height: 80px;

    .title{
      font-size: 28px;
      font-weight: bold;
      color: black;
    }

  }
  .top-menu-box{
    background-color: #FFFFFF;
    padding: 0;
    z-index: 99;
    position: sticky;
    top: 0;
  }

  .content-box{
    font-size: 14px;
    color: black;
    height: 100%;
    min-height: calc(100vh - 262px);

  }
  .footer-box{
    min-height: 100px;
    background-color: black;
  }

  .cell{
    height: 100%;
    width: 100%;
    .triangle-cell{
      //width: 0;
      //height: 100vh;
      //margin: 0 auto;
      //border-left: 50vw solid transparent;
      //border-right: 50vw solid transparent;
      //border-top: 60vh solid wheat;
      width: 100%;
      height: 30%;
      background-color: wheat;
      border-bottom-left-radius: 100px;
      border-bottom-right-radius: 100px;

      &.active{
        transition:2s all;
        transform: translateY(-100%);
      }
    }
    .circle-cell{
      width: 300px;
      height: 300px;
      background-color: brown;
      border-radius: 50%;
      position: absolute;
      z-index: 9999;
      position: absolute;
      left: 50%;
      top: 30%;
      transform: translateX(-50%) translateY(-50%);
      cursor: pointer;
      &.active{
        top: 120%;
        transition:2s all;
      }
    }
  }

  .box-card{
    margin: 60px 15px 15px 15px;
    height: calc(100vh - 680px);

  }

  .el-dialog__wrapper{
    display: flex;
    align-items: center;
  }
  /deep/.el-dialog{
    margin: 0 auto !important;
  }
  .dialog-box{
    max-height: calc(100vh - 45vh);
    overflow: scroll;
  }
  .icon{
    padding-right: 12px;
  }
;

 }
</style>