<template>
<div class="home-index">


</div>
</template>

<script>
import Demo from "@/pages/home/components/demo";
export default {
  name: "index",
  components: {
    // Demo
  },
  data(){
    return{
      show: false
    }
  },
  methods:{
    yangzhen(value){
      if(value <= 20){
        console.log("验证成功")
        return true
      }else{
        console.log("验证失败")
        return false
      }
    },
   async xunhuan(a){
      let g = true
      for(let i = 0;i < a.length;i++){
        let b = await this.yangzhen(a[i]);
        if(b){
          console.log("提交")
        }else{
          g = false
          console.log("提交失败");
          break;
        }
      }
      return new Promise((resolve,reject) => {
        resolve(g)
      })
    },
    close(){
      this.show = false
    }
  },
 async mounted() {
   //  const a = [10,20,15,7];
   //  let c = false;
   //
   // let f =await this.xunhuan(a)
   // console.log("f",f)

  }
}
</script>

<style scoped  lang="scss">
.home-index{

}
</style>