<template>
<div class="footer-com-view">
  <div class="title">LUFFA</div>
  <div class="flex icon-box">
    <div class="box">
      <el-tooltip class="item" effect="dark" content="13207351533" placement="top">
        <i class="el-icon-phone-outline "></i>
      </el-tooltip>
    </div>
    <div class="box">
      <el-tooltip class="item" effect="dark" content="snowflyingluffa@163.com" placement="bottom">
        <i class="el-icon-message "></i>
      </el-tooltip>
    </div>
    <div class="box">
      <el-tooltip class="item" effect="dark" content="https://gitlab.com/luffa" placement="top">
        <el-image
            class="img-icon"
            :src="require('../assets/svg/git.svg')"
            fit="fill"></el-image>
      </el-tooltip>
    </div>
    <div class="box">
      <el-tooltip placement="right">
        <div slot="content">
          <el-image
              style="width: 200px; height: 300px"
              :src="require('../assets/img/WechatIMG15.jpeg')"
              fit="fill"></el-image>
        </div>
        <el-image
            class="img-icon icon"
            :src="require('../assets/svg/weChat2.svg')"
            fit="fill"></el-image>
      </el-tooltip>
    </div>
  </div>
</div>
</template>

<script>
export default {
  name: "footerCom",
  data(){
    return{
      url: "../assets/img/WechatIMG15.jpeg",
      num1: 0,
      num2: 0,
      num3: 0.
    }
  },
  methods:{

  },
  mounted() {

  }
}
</script>

<style scoped lang="scss">
.footer-com-view{

  padding: 30px 0;
  text-align: center;
  color: #FFFFFF;
  background-color: black;

  .title{
    font-size: 26px;
    padding-top: 20px;
  }

  .img-icon{
    width: 20px;
    height: 20px;
  }
  .icon{
    padding-right: 8px;
  }
  .box{
    padding: 20px;
  }
  .icon-box{
    justify-content: center;
  }
}
</style>