<template>
  <div id="page-wrapper" >
    <router-view/>
  </div>
</template>

<script>
export default {
  name: "Frame"
}
</script>

<style scoped lang="scss">
.index-view{
  height: 100vh;
  overflow-x: hidden;
  position: relative;
  #page-wrapper {
    min-height: calc(100vh - 322px);
    overflow-y: auto;
    overflow-x: hidden;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
    /*background-color: red;*/
    /*background-color: #F5F5F5;*/
    /*background-color: #fff;*/
    background-color: #FFFFFF;
    @media (max-width: 400px) {
      min-height: calc(100vh - 242px);
    }
  }
}
</style>