<template>
<div class="frame-index-view">
  <div class="top">
    <el-dropdown trigger="click">
      <span class="title"><i class="el-icon-s-operation"></i></span>
      <el-dropdown-menu slot="dropdown">
        <el-dropdown-item>黄金糕</el-dropdown-item>
        <el-dropdown-item>狮子头</el-dropdown-item>
        <el-dropdown-item>螺蛳粉</el-dropdown-item>
        <el-dropdown-item disabled>双皮奶</el-dropdown-item>
        <el-dropdown-item divided>蚵仔煎</el-dropdown-item>
      </el-dropdown-menu>
    </el-dropdown>
  </div>

</div>
</template>

<script>
export default {
  name: "FrameIndex"
}
</script>

<style scoped lang="scss">
.frame-index-view{

  .top{
    text-align: right;
    .title{
      font-size: 30px;
    }
  }

}
</style>