<template>
<div class="top-com">
  <div class="top-box">
    <div class="title">LUFFA</div>
  </div>
</div>
</template>

<script>
export default {
  name: "TopCom"
}
</script>

<style scoped lang="scss">
.top-com{
  .top-box{
    height: 80px;
    background-color: #FFFFFF;
    text-align: center;
    line-height: 80px;

    .title{
      font-size: 28px;
      font-weight: bold;
      color: black;
    }

  }
}
</style>