<template>
<div class="top-menu-index">
  <div class="flex top-cell">
    <div class="font18 white text-center title">LUFFA</div>
    <el-menu
        class="el-menu-demo" mode="horizontal"
        :default-active="$route.path"
        :router="true"
        background-color="#000"
        text-color="#fff"
        active-text-color="#CF4173"
        @select="handleSelect">
      <el-submenu index="2">
        <template slot="title">
          <i class="el-icon-s-operation white"></i>
        </template>
        <el-menu-item index="/">
          <i class="el-icon-s-home"></i>
          <span slot="title">主页</span>
        </el-menu-item>
        <el-menu-item index="/demo">
          <i class="el-icon-s-grid"></i>
          <span slot="title">一些demo</span>
        </el-menu-item>
        <el-menu-item index="/square">
          <i class="el-icon-view"></i>
          <span slot="title">随心广场</span>
        </el-menu-item>
        <el-menu-item index="/resume">
          <i class="el-icon-document-copy"></i>
          <span slot="title">个人简历</span>
        </el-menu-item>
      </el-submenu>
    </el-menu>
  </div>
</div>
</template>

<script>
export default {
  name: "TopMenuApp",
  data(){
    return{
    }
  },
  methods:{
    handleSelect(){

    }
  }
}
</script>
<style  lang="scss">
.top-menu-index{
  height: 60px;
  background-color: black;
  z-index: 99999;
  position: sticky;
  top: 0;
  .top-cell{
  }
  .el-menu-demo{
    color: #FFFFFF;
  }
  .title{
    width: 100%;
    line-height: 60px;
    padding-left: 89px;
  }
  .el-submenu__title{
    border: 0 !important;
  }
  /deep/.el-submenu__title {
    border: 0;
  }
}
</style>