<template>
<div class="top-menu-index">

  <div class="top-menu-box">
    <el-menu
        :default-active="$route.path"
        :router="true"
        text-color="#000"
        active-text-color="#000"
        class="el-menu-demo"
        mode="horizontal" >
      <el-menu-item class="cell" index="/index">首页</el-menu-item>
      <el-menu-item class="cell" index="/demo">一些demo</el-menu-item>
      <el-menu-item class="cell" index="/square" >随心广场</el-menu-item>
      <el-menu-item class="cell" index="/resume" >个人简历</el-menu-item>
    </el-menu>
  </div>
</div>
</template>

<script>
export default {
  name: "TopMenu"
}
</script>

<style scoped lang="scss">
.top-menu-index{
  width: 100%;
  background-color: #FFFFFF;
  border-bottom: solid 1px #e6e6e6;
  padding: 0;
  z-index: 99;
  position: sticky;
  top: 0;
  .top-menu-box{
    display: flex;
    justify-content: center;
    .cell{
      padding: 0 40px;
      font-size: 16px;
    }

  }
}
</style>