<template>
<div class="video-cell-index ">
  <div class="left-cell">
    <el-carousel :interval="4000" type="card" height="200px" @change="change">
      <el-carousel-item v-for="(item,index) in list" :key="index">
        <el-image :src="item.url" class="image" fit="cover" ></el-image>
      </el-carousel-item>
    </el-carousel>
  </div>
  <div class="right-cell">
     <div class="font16 bold color333">{{videoObj.title}}</div>
     <div class="font12 text-2em lh24 color666">{{videoObj.content}}</div>
    <div class="font12 lh24 color999 text-right">-- {{videoObj.sub}}</div>
  </div>
</div>
</template>

<script>
export default {
  name: "videoCell",
  data(){
    return{
      videoObj: {}
    }
  },
  props:{
    list: {
      type: Array,
      default: ()=>{
        return []
      }
    }
  },
  methods:{
    change(value){
      this.videoObj = this.list[value]
    }
  },
  mounted() {
    this.change(0);
  }
}
</script>

<style scoped lang="scss">
.video-cell-index{
  padding: 30px 30px 0 30px;
  //border-radius: 8px;
  //box-shadow: 4px 5px 10px 6px #cccccc;
  min-height: 420px;
  .left-cell{
  }
  .right-cell{
    padding-top: 10px;
    padding-bottom: 30px;
  }
  .image{
    width: 100%;
    height: 100%;
    border-radius: 24px;
  }

}
</style>