<template>
<div class="joke-cell-index">
  <div class="pb15 text-center lh20 flex justify-center">
    <span class="font18 pr15">轻松一刻</span>
    <img
        width="20" height="20"
        src="../../../assets/svg/iconfont/refresh.svg"
        @click="randomJoke"
        :class="isLoading?'rotate1':''"
    />
  </div>
  <div v-if="!isLoading" class="animated fadeIn font14 black text-2em lh28">{{jokeContent}}</div>
  <div v-else>
    <el-empty
        :image="require('../../../assets/svg/iconfont/daju.svg')"
        :image-size="130" description="正在头脑风暴中..."></el-empty>
  </div>
</div>
</template>

<script>
export default {
  name: "jokeCell",
  data(){
    return{
      jokeList: [],
      jokeContent: "",
      isLoading: false
    }
  },
  methods:{
    randomJoke(){
      this.isLoading = true;
      let joke = JSON.parse(window.localStorage.getItem('jokeData'));
      let list = joke.list
      setTimeout(()=>{
        let obj = list[Math.floor(Math.random()*list.length)]
        this.jokeContent = obj.content;
        this.isLoading = false;
      },1000)

    },
    getJokeList(){

      // 调用时
      // jsonp({
      //   url: 'https://xxx.xxx',
      //   params: {...},
      //   callback: 'func',
      // })
      this.$http.jsonp({
        url:"http://v.juhe.cn/joke/content/list.php",
        params: {
          key:"e3760a380c8cb056f9ef3cba866ff475",
          sort:"asc",//desc asc
          time: "1418816972",//时间戳（10位)
          // page: 1 ,//非必填 当前页数,默认1,最大20
          // pagesize: 1 ,//非必填 每次返回条数,默认1,最大20
        },
        callback: 'func',
      }).then(res=>{
        console.log(res)
          this.jokeList = res.result.data;
          const obj = {
            list:this.jokeList,
            date: this.$dayjs().format("YYYY-MM-DD")
          }
          window.localStorage.setItem('jokeData', JSON.stringify(obj));
          this.randomJoke();
        })

      // this.$http.get("/api/joke/content/list.php",
      //     {
      //       key:"e3760a380c8cb056f9ef3cba866ff475",
      //       sort:"asc",//desc asc
      //       time: "1418816972",//时间戳（10位)
      //       // page: 1 ,//非必填 当前页数,默认1,最大20
      //       // pagesize: 1 ,//非必填 每次返回条数,默认1,最大20
      //     },
      //     {
      //       Origin: "http://v.juhe.cn"
      //     }
      // ).then(res=>{
      //   this.jokeList = res.data.result.data;
      //   const obj = {
      //     list:this.jokeList,
      //     date: this.$dayjs().format("YYYY-MM-DD")
      //   }
      //   window.localStorage.setItem('jokeData', JSON.stringify(obj));
      //   this.randomJoke();
      // }).catch(err=>{
      //   console.log(err)
      // })
    }
  },
  mounted() {
    let joke = JSON.parse(window.localStorage.getItem('jokeData'));
    if(joke){
      if (this.$dayjs().diff(joke.date, 'day') > 0) {
        window.localStorage.removeItem('jokeData');
        this.getJokeList()
      }else{
        this.randomJoke();
      }
    }else {
      this.getJokeList()
    }

  }
}
</script>

<style scoped lang="scss">
.joke-cell-index{
  padding: 15px;
  border-radius: 8px;
  box-shadow: 4px 5px 10px -1px #cccccc;
  min-height: 300px;

}
</style>