<template>
<div class="picture-cell-index">
  <div v-if="picture.title" class="font14 bold pt15 pb15">{{picture.title}}</div>
  <div class="cell">
    <div v-for="(item,index) in picture.list" :key="index">
      <el-image
          :src="item"
          :preview-src-list="[item]"
          :z-index="999999"
      >
      </el-image>
    </div>
  </div>

</div>
</template>

<script>
export default {
  name: "pictureCell",
  props:{
    picture: {
      type: Object,
      default: ()=>{
        return {}
      }
    }
  }
}
</script>

<style scoped lang="scss">
.picture-cell-index{
  padding: 15px;
  border-radius: 8px;
  //box-shadow: 4px 5px 10px 6px #cccccc;
  min-height: 300px;
  .cell{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 20px;
  }
}
</style>