<template>
<div class="video-cell">
  <div class="font16 bold pt15 pb15">{{ video.title }}</div>
<!--  <video controls width="100%" class="video-box">-->
<!--    <source :src="`https://xbeibeix.com/api/bilibili/biliplayer/?url=https://www.bilibili.com/video/BV13t4y1F7K4?share_source=copy_web&vd_source=2a68e8c1eeee948ddb220245722309ca`"-->
<!--            type="video/mp4">-->
<!--    Sorry, your browser doesn't support embedded videos.-->
<!--  </video>-->
  <iframe class="video-box"
          :src="video.url"
          allowfullscreen="allowfullscreen"
          width="100%" height="500"
          scrolling="no"
          frameborder="0"
          sandbox="allow-top-navigation allow-same-origin allow-forms allow-scripts"


  > </iframe>
  <div class="font12 color666 pt10 text-right">-- {{video.from}}</div>
</div>
</template>

<script>
export default {
  name: "videoCell",
  props:{
    video:{
      type: Object,
      default:()=>{
        return {
          url:"",
          title:"",
          from: ""
        }
      }
    }
  }
}
</script>

<style scoped lang="scss">
.video-cell{
  padding: 10px;
  .video-box{
    width: 100%;
    //height: 360px;
    height: 359px;
    border-radius: 8px;


  }
}
</style>