<template>
<div class="word-cell-index">
  <div class="title">随笔</div>
  <div class="cell" v-for="(item,index) in config.wordList" :key="index">
    <div class="font14">{{item.content}}</div>
    <el-divider  content-position="right"><span class="color999">{{ item.name }}</span></el-divider>
  </div>
  <div class="text-right color666 font12">More<i class="el-icon-arrow-right pl3"></i></div>
</div>
</template>

<script>

import config from "@/pages/square/js/config";

export default {
  name: "wordCell",
  data(){
    return{
      config
    }
  }
}
</script>

<style scoped lang="scss">
.word-cell-index{

  padding: 15px;
  border-radius: 8px;
  box-shadow: 4px 5px 10px -1px #cccccc;

  .title{
    font-size: 18px;
    color: black;
    font-weight: bold;
    padding-bottom: 10px;
  }
  .cell{
    padding: 10px 0;
    color: #666666;
  }

}
</style>