<template>
  <div class="page-index index-spacing">
    <div class="bottom-spacing padding-top">
      <el-page-header @back="$router.go(-1)"  content="高德地图">
      </el-page-header>
    </div>
    <div>
      <div class="text-center">
        <h3>地图相关</h3>
        <div class="font12 gray">主要使用vue-amap结合高德地图api实现</div>
      </div>
      <div><mapCom></mapCom></div>
      <div class="text-center padding-top">
        <h3>相关文档</h3>
        <p><el-link href="https://elemefe.github.io/vue-amap/#/zh-cn/introduction/install" target="_blank" type="primary">vue-amap Api文档</el-link></p>
        <p><el-link href="https://www.npmjs.com/package/vue-amap" target="_blank" type="primary">vue-amap文档</el-link></p>
        <p><el-link href="http://lbs.amap.com/api/javascript-api/guide/map-data/introduction" target="_blank" type="primary">高德地图api文档</el-link></p>
      </div>
      <div class="text-center">
        <h3>文档资料</h3>
        <p>amap-manager： 地图管理对象</p>
        <p>vid：地图容器节点的ID</p>
        <p>zooms： 地图显示的缩放级别范围，在PC上，默认范围[3,18]，取值范围[3-18]；在移动设备上，默认范围[3-19]，取值范围[3-19]</p>
        <p>center： 地图中心点坐标值</p>
        <p>plugin：地图使用的插件</p>
        <p>events： 事件</p>
        <p>:search-option="searchOption"： 搜索条件</p>
        <p>:on-search-result="onSearchResult"： 搜索回调函数</p>
        <p>:plugin="plugin"： 地图绑定的插件 初始化的时候会调用</p>
      </div>
      <el-row>
        <el-col :span="16"></el-col>
        <el-col :span="8" class="text-center">

        </el-col>
      </el-row>
    </div>
  </div>
</template>
<script>

export default {
  data() {
    return {
    };
  },
  components:{

  },
  created() {
  },
  methods: {

  },
};
</script>
<style scoped lang="scss">
.page-index{
  padding-top: 40px;
  padding-bottom: 40px;
}
</style>
