<template>
  <div class="d02-index index-spacing">
    <div class="bottom-spacing padding-top">
      <el-page-header @back="$router.go(-1)"  content="二维码">
      </el-page-header>
    </div>
    <div class="justify-center flex padding-top">
      <div id="qrCode" class="w200 h200 bg-white"></div>
    </div>
    <div class="justify-center flex padding-top">
      <el-input  class="padding-right input-box" v-model="text" placeholder="修改这个值改变二维码"></el-input>
      <el-button v-show="!qrCode" @click="createQrCode()">生成二维码</el-button>
      <el-button v-show="qrCode" @click="resetQrCode()">重置二维码</el-button>
    </div>
  </div>
</template>
<script >
import QRCode from 'qrcodejs2'

export default {
  data() {
    return {
      text: '',
      qrCode: null
    }
  },
  props:{

  },
  methods: {
    createQrCode(){
      this.qrCode = new QRCode('qrCode', {
        width: 200,
        height: 200, // 高度
        text: this.text// 二维码内容
        //render: 'canvas', // 设置渲染方式（有两种方式 table和canvas，默认是canvas）
        //background: '#f0f',
        //foreground: '#ff0'
        //correctLevel: QRCode.CorrectLevel.H;
      });
    },
    resetQrCode(){
      this.qrCode.makeCode(this.text);
    }
  },
  mounted() {
  }
}

</script>
<style scoped lang="scss">
.d02-index{
  padding-top: 40px;
  padding-bottom: 40px;
  .input-box{
    width: 250px;
  }
}
</style>