<template>
<div class="index-view">

  <template  v-if="this.$store.state.isMobile">
    <TopMenuApp></TopMenuApp>
  </template>
  <template v-else >
    <TopCom></TopCom>
    <TopMenu></TopMenu>
  </template>
  <div id="page-wrapper" >
    <router-view/>
  </div>
  <FooterCom></FooterCom>
  <el-backtop target=".index-view" :bottom="this.$store.state.isMobile?100:200">
    <i class="el-icon-caret-top black"></i>
  </el-backtop>

</div>
</template>

<script>
import TopMenu from "@/menu/TopMenu";
import FooterCom from "@/menu/FooterCom";
import TopCom from "@/menu/TopCom";
import TopMenuApp from "@/menu/TopMenuApp";

export default {
  name: "index",
  components:{
    TopMenu,
    FooterCom,
    TopCom,
    TopMenuApp
  },
  mounted() {

  }
}
</script>

<style scoped lang="scss">
.index-view{
  height: 100vh;
  overflow-x: hidden;
  position: relative;
  #page-wrapper {
    min-height: calc(100vh - 322px);
    overflow-y: auto;
    overflow-x: hidden;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
    /*background-color: red;*/
    /*background-color: #F5F5F5;*/
    /*background-color: #fff;*/
    background-color: #FFFFFF;
    @media (max-width: 400px) {
      min-height: calc(100vh - 242px);
    }
  }
}
</style>