<template>
<div>
  <p>子组件{{show}}---{{showN}}</p>
<!--  <el-input v-model="showN"></el-input>-->

  <el-button @click="close">guanbi</el-button>
</div>
</template>

<script>
export default {
  name: "demo",
  data(){
    return{
      showN: this.show
    }
  },
  props:{
    show:{
      type: Boolean
    }
  },
  mounted() {

  },
  methods:{
    close(){
      this.$emit("close",false)
    }
  }
}
</script>

<style scoped>

</style>