<template>
<div class="tab-com-view">
  <div class="tab" :style="{
        'grid-template-columns': listLength
      }">
    <div
        class="box"
        v-for="(item,index) in list" :key="index"
        @click.stop="changeT(index,item.value)"
    >
      <div>{{item.name}}</div>
    </div>
    <div class="nav-line" :style="{left: X+'px',transform : 'translateX(-50%)'}"></div>
  </div>


</div>
</template>

<script>
export default {
  name: "tabCom",
  data(){
    return{
      active1: "",
      X: 0,
      current: 0,
      translateX: "",
      translateX1: "",
    }
  },
  props:{
    list:{
      type: Array,
      default: ()=>{
        return []
      }
    },
    active:{
      type: String,
      default: ()=>{
        return ""
      }
    }
  },
  methods:{
    changeT(index,val){
      this.current = index
      this.lineMove()
      this.$emit("changeT",val)
    },
    handleClick(){

    },
    // 计算下划线应该移动的距离
    lineMove() {
      // 导航栏的宽度,因为是100%所以就是屏幕宽度
      let width = document.body.clientWidth;
      // 每个选项栏的宽度 = 导航栏宽度/选项个数
      let divWidth = width / this.list.length;
      // 半个选项栏宽度
      let halfDivWidth = divWidth / 2;
      // 下划线移动的距离 = 半个选项栏宽度 + (单个选项栏宽度*当前index)
      this.X = halfDivWidth + divWidth * this.current;
    }
  },
  created() {
    this.lineMove()
  },
  computed: {
    listLength() {
      let res = "";
      let list = this.list
      list.forEach(item => {
        res += "1fr "
      })
      return res;
    },
  }
}
</script>

<style scoped lang="scss">
.tab-com-view{
  .tab {
    width: 100%;
    font-size: 0;
    display: grid;
    .box {
      height: 30px;
      color: black;
      font-size: 14px;
      text-align: center;
      line-height: 30px;

      &:hover {
        color: #cccccc;
        background-color: white;
      }
      &.active {
        color: black;
        font-weight: bold;
        transition: 0.3s all;
      }
    }
    .nav-line {
      width: 18px;
      height: 4px;
      border-radius: 2px;
      background-color: black;
      position: absolute;
      bottom: 0;
      transition: 0.3s all;
    }


  }

}
</style>