<template>
<div class="text-jump-com" @click="jump">
  <span class="title">
    <a href="">{{title}}</a>
  </span>
</div>
</template>

<script>
export default {
  name: "textJumpCom",
  props:{
    title:{
      type: String,
      default: ()=>{
        return ""
      }
    },
    path:{
      type: String,
      default: ()=>{
        return ""
      }
    }
  },
  methods:{
    jump(){
      if(this.path){
        this.$router.push(this.path)
      }
    }
  }

}
</script>

<style scoped lang="scss">
.text-jump-com{
  display: inline-block;
  height: 8px;
  .title{
    a {
      color: inherit;
      text-decoration: inherit;
      display: inline-block;
      position: relative;
    }
    a:after{
      content: "";
      display: block;
      position: absolute;
      bottom: 0px;
      left: 6px;
      background-color: rgba(183,28,28, .25) !important;
      height: 8px;
      width: 100%;
    }

    &:hover{
      color: #17a2b8;
    }
  }

}
</style>