<template>
  <div class="content-index">
    <el-container>
      <!-- 右侧菜单     -->
      <el-aside width="200px">

      </el-aside>
      <!--   内容   -->
      <el-main>Main</el-main>
    </el-container>
  </div>
</template>

<script>
export default {
  name: "index"
}
</script>

<style scoped lang="scss">
.content-index{

}
</style>